body {
    position:relative;
    font-size: 18pt;
    font-family: 'Dosis', sans-serif;
    background-image:url("../img/HexNoiseBG.png");
    padding:0px;
    margin:0px;
    color:#102030;
}

p {
    font-size: 18pt;
    font-family: 'Dosis', sans-serif;
    color:#101540;
    text-align: justify;
}

h1 {
    font-size: 28pt;
    font-family: 'Electrolize', sans-serif;
    padding:0pt 5pt, 2pt 0pt;
    text-align: center;
    margin:15pt 20% 15pt 20%;
    color:#506080;
    border-bottom:2pt solid #506080;
}

h2 {
    font-size: 20pt;
    font-family: 'Electrolize', sans-serif;
    padding:0pt 5pt, 2pt 0pt;
    text-align: center;
    margin:15pt 20% 15pt 20%;
    color:#506080;
    border-top:1pt dashed #506080;
    border-bottom:1pt dashed #506080;
}

span.codeword {
    font-size: 18pt;
    font-family: 'Electrolize', sans-serif;
}

.pagecontent {
    display:block;
    background:rgba(255, 255, 255, 0.4);
    overflow: hidden;
    width:60%;
    min-width:450pt;
    margin:0 auto 0 auto;
    padding:3em 2em;
}

.navbar {
    position:fixed;
    top:0;
    height:2em;
    background:#F0F0FF;
    width:100%;
    border-bottom:2pt solid white;
}

.navbutton {
    text-decoration: none;
    display:block;
    color:#E8E8F8;
    background:#506080;
    margin-left:5pt;
    padding:5pt;
    width:8em;
    text-align: center;
    float:left;
    font-size: 18pt;
    font-family: 'Electrolize', sans-serif;
}

.selected {
    color:#FFFFFF;
    background:#304060;
}

.navbutton:hover {
    color:#AAEEFF;
    background:#405070;
}

.dynamic {
    overflow:hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.invisible {
    max-width:0;
}

.footerlink {
    display:block;
    float:right;
}

.footer {
    position:fixed;
    bottom:0;
    padding:3pt;
    height:auto;
    width:100%;
    color:#506080;
    background:#F0F0FF;
    border-top:2pt solid white;
    font-size: 12pt;
    font-family: 'Electrolize', sans-serif;
}

div.videobox {
    text-align: center;
    padding:4pt;
}

iframe.videobox {
    border:none;
}